<!-- <p>about-us works!</p> -->
<body>
    

 <div class="card" style="background: transparent;">
    <div id="title" class="card-header" style="text-align: center;font-size: 20px;font-weight: 500;">{{title}}</div>
    <div class="card-header" style="text-align: center;background-color: rgb(25,64,97);margin-left: 15%;margin-right: 15%;height: 110px;">
        <div style="background-color: white;margin-left: 35%;margin-right: 35%;height: 40px;padding: 2px;">
            <div style="border: 3px dotted rgb(237,181,147);height: 35px;color: rgb(25,64,97);">
                <h2>The InstaSmart Story</h2>
            </div>
        </div>
    </div>
    <div class="card-header" style="text-align: center;">
        <img src="../../assets/FLIPSTORY.png" alt="">
    </div>
    <div class="card-body" style="text-align: center;">
        <img src="../../assets/flipflip.png" alt="">
    </div>
    <div class="card-body" style="text-align: center;">
        <img src="../../assets/InstaCartPhoto.png" alt="">
    </div>
    <div class="card-body" style="text-align: center;">
        <img src="../../assets/instagraph.png" alt="">
    </div>
    


</div> 
</body>

