
    <p>
        <mat-toolbar style="background-color: rgb(37, 47, 61);height: 40px;">
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            All
         </a>
        <div style="width: 2%;"></div>
        <a (click)="filter('All')" style="color: white ; font-weight: 150;">
            Fresh
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Electric
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Mobile
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Furniture
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Fashion
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Health
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Beauty
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Kithcen
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Sports
         </a> <div style="width: 2%;"></div>
         <a (click)="filter('All')" style="color: white ;font-weight: 150;">
            Books
         </a>

        
      </mat-toolbar>
      </p>
      
      <!-- <app-mini-header></app-mini-header> -->
      
      
      
      <!-- Copyright 2023 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at https://angular.io/license -->