    <p style="margin: 0%;">
      <mat-toolbar style="background-color: black;">
       <a [routerLink]="['']" style="border: 0px; background-color: transparent;" >
        <!-- <mat-icon>search</mat-icon> -->
        <img src="../../assets/abcicon.jpg" alt="" height="50px" width="120px">
       </a>
      <div style="width: 2%;"></div>
    
      <i class="fa fa-map-marker" style="color: white; margin: 0.2%;"></i>
      <div id="block">
        <span class="nav-line-1">Deliver to<br>Meerut</span>
        <!-- <span class="nav-line-2">Jansath 250005</span> -->
      </div>
      <div style="width: 2%;"></div>
      <span class="example-spacer"></span>
      
      <button style="height: 60%;">
        <p style="font-size: 14px; font-weight: 400;display: inline; margin-right: 8px;">Search</p>
        <!-- <i class="fa fa-caret-down"></i> -->
      </button>
      <input type="text" name="" id="" style="width: 52%; height: 60%;">
      <button  mat-icon-button style="background-color: rgb(255,190,109); border-radius: 0%;margin-left: 0%;height: 60%;" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
      </button>

      <div style="width: 2%;"></div>

      <a *ngIf="!isLoggedIn" style="text-decoration: none;cursor: pointer;" [routerLink]="['login']">
      <span style="color: white;">
        <p style="margin: 10%; font-size: 80%;">Hello,Sign-In<p>
      </span>
    </a>
    <a *ngIf="isLoggedIn" style="text-decoration: none;cursor: pointer;" [routerLink]="['login']">
      <span style="color: white;">
        <p style="margin: 10%; font-size: 80%;">Hello,{{userName}}<p>
      </span>
    </a>


      <div style="width: 2%;"></div>
      <span>
        <a [routerLink]="['cart']">
        <i class="fa badge" value="5" style="font-size:24px">&#xf07a;</i>
      </a>
      </span>


<a  style="text-decoration: none;cursor: pointer;" (click)="logout()">
      <span style="color: white;">
        <p style="margin: 10%; font-size: 80%;">LogOut<p>
      </span>
    </a>

     
    
      
    </mat-toolbar>
    </p>
    
    <!-- <app-mini-header></app-mini-header> -->
    
    
    
    <!-- Copyright 2023 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at https://angular.io/license -->