._2c7YLP.UtUXW0 {
    margin: 0 auto;
    max-width: 1366px;
    min-width: 1128px;
    padding: 0;
}
._3HqJxg {
    width: 100%;
    position: relative;
}
._6t1WkM {
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div {
    display: block;
}
._1YokD2._2GoDe3 {
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
}
._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

._1YokD2._3Mn1Gg {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
._78xt5Y {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
._1YokD2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.col-5-12 {
    width: 41.66%;
}

._1AtVbE {
    display: block;
}
.col-12-12 {
    width: 100%;
}

._1iyjIJ {
    position: relative;
}

._1BweB8 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: 1px solid #f0f0f0;
}
._1BweB8 ._3kidJX {
    text-align: center;
}

._1BweB8 ._3kidJX ._3A1TYz {
    will-change: transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: .6;
    border-radius: 2px;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
._1BweB8 ._3kidJX ._3A1TYz, ._1BweB8 ._3kidJX .sAz4Df {
    position: absolute;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZmlsbC1vcGFjaXR5PSIuMDUiIGZpbGw9IiNGRkYiIGQ9Ik0wIDBoMnYySDB6Ii8+PHBhdGggZD0iTTAgMGgxdjFIMHoiIGZpbGw9IiM4REFDREEiLz48L2c+PC9zdmc+) repeat;
    z-index: 2;
}

.CXW8mj {
    position: relative;
    margin: 0 auto;
}
.CXW8mj {
    position: relative;
    margin: 0 auto;
}
._3nMexc {
    position: static;
    margin: inherit;
}
.CXW8mj {
    position: relative;
    margin: 0 auto;
}
._1BweB8 ._3kidJX ._3qGmMb {
    cursor: crosshair;
}
._1BweB8 ._3kidJX ._2amPTt {
    display: inline-block;
    max-height: 416px;
    max-width: 416px;
    vertical-align: top;
    position: inherit;
}
._396cs4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
._396cs4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
._396cs4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
._3li7GG ._35DpL- {
    height: 448px;
}._2FHWw4, ._2FHWw4 ._2mLllQ {
    overflow: hidden;
}
._2FHWw4 {
    position: relative;
    height: 100%;
}
._2FHWw4, ._2FHWw4 ._2mLllQ {
    overflow: hidden;
}
._2FHWw4 ._2mLllQ ._3GnUWp {
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
}

._3li7GG ._35DpL- ._1Y_A6W {
    width: 64px;
    border-color: #f0f0f0!important;
    border-right: none!important;
}
._2FHWw4 ._2mLllQ ._20Gt85 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    cursor: pointer;
}
li {
    list-style: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

._3li7GG ._35DpL- ._1AuMiq.P9aMAP {
    border: 2px solid #2874f0;
}
._3li7GG ._35DpL- ._1AuMiq {
    padding: 5px;
    width: 100%;
    height: 100%;
    position: relative;
}
._3li7GG ._35DpL- ._2E1FGS {
    width: 100%;
    height: 100%;
}
._3li7GG ._35DpL- ._2t3-4V, ._3li7GG ._35DpL- .q6DClP {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
._3li7GG ._35DpL- .q6DClP {
    padding: 5px;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

._1AtVbE {
    display: block;
}
.col-12-12 {
    width: 100%;
}

.dTTu2M {
    margin-left: 64px;
    @media (max-width: 1024px){margin-left:0};
}
._1p3MFP {
    margin-top: 12px;
}
.col, .row {
    width: 100%;
}
.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.col-6-12 {
    width: 50%;
}
.col {
    display: inline-block;
    vertical-align: top;
}
.col, .row {
    width: 100%;
}
li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
._3v1-ww {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    width: 98%;
    border: none;
    float: left;
    background-color: #ff9f00;
    color: #fff;
    margin-top: 8px;
    padding: 12px;
    font-size: 14px};

._2U9uOA {
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
}
._3v1-ww {
    background-color: #ff9f00;
    color: #fff;
}
._2KpZ6l {
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid #e0e0e0;
}
body, button, input, select, textarea {
    font-family: Arial,sans-serif;
    letter-spacing: -.2px;
}


button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; */
    text-rendering: auto;
    /* color: buttontext; */
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    /* background-color: buttonface; */
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
._1KOMV2 {
    margin-right: 4px;
    height: 16px;
    width: 16px;
}
._1KOMV2, ._3iRXzi {
    display: inline-block;
}


._2KpZ6l._3AWRsL {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
}
.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
.ihZ75k {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    float: right;
    width: 98%;
}
._2U9uOA {
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
}
._2KpZ6l {
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid #e0e0e0;
}

._1wB99o {
    margin: 2px 0 0 2px;
    height: 10px;
}

._1AtVbE {
    display: block;
}

.col-12-12 {
    width: 100%;
}
.aMaAEs {
    padding: 0;
    margin-top: 6px;
}
.yhB1nd {
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    display: contents;
}
.yhB1nd .B_NuCI {
    padding: 0;
    line-height: 1.4;
    font-size: inherit;
    font-weight: inherit;
    display: inline-block;
}
.aMaAEs ._3_L3jD {
    cursor: pointer;
    display: inline-block;
}
.aMaAEs ._16VRIQ {
    display: inline-block;
    vertical-align: middle;
}
.gUuXy- {
    margin-top: 6px;
}
._1lRcqv {
    position: relative;
}
._3LWZlK {
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}
._1wB99o {
    margin: 2px 0 0 2px;
    height: 10px;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.aMaAEs .dyC4hf, .aMaAEs .dyC4hf .CEmiEU ._1oGwVe {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.aMaAEs .dyC4hf {
    padding-top: 12px;
}
.aMaAEs .dyC4hf .CEmiEU ._16Jk6d {
    font-size: 28px;
    vertical-align: sub;
}
._25b18c ._30jeq3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.aMaAEs .dyC4hf .CEmiEU ._2p6lqe {
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
}
._25b18c ._3Ay6Sb, ._25b18c ._3I9_wc {
    display: inline-block;
    margin-left: 8px;
}
._25b18c ._3I9_wc {
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
}
.aMaAEs .dyC4hf .CEmiEU ._31Dcoz {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    vertical-align: middle;
}
._25b18c ._3Ay6Sb {
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: 500;
}
._25b18c ._3Ay6Sb, ._25b18c ._3I9_wc {
    display: inline-block;
    margin-left: 8px;
}._1V9q7_ {
    margin: 14px 0 0 8px;
    cursor: pointer;
}._1V9q7_ ._25icda {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}._1V9q7_ ._25icda ._3ECE0V {
    height: 18px;
}
._1AtVbE {
    display: block;
}
.col-12-12 {
    width: 100%;
}
._3Z0lU8:first-of-type {
    margin-top: 8px;
}
._3Z0lU8 {
    margin-top: 16px;
}
._3Z0lU8 .rd9nIL {
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
._3TT44I {
    line-height: 1.43;
    color: #212121;
    font-size: 14px;
    position: relative;
}
._3TT44I .WT_FyS .XUp0WS ._3j4Zjq {
    margin-top: 12px;
}
.col, .row {
    width: 100%;
}
.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
._3TT44I .WT_FyS .XUp0WS ._3j4Zjq ._3HLfAg {
    margin-right: 10px;
}
a, img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
._3TT44I .WT_FyS .XUp0WS ._3j4Zjq ._16eBzU {
    margin-top: -2px;
    width: 94%;
}
.col {
    display: inline-block;
    vertical-align: top;
}
.col, .row {
    width: 100%;
}
li {
    list-style: none;
}
._3TT44I .WT_FyS .XUp0WS ._3j4Zjq .u8dYXW {
    color: #212121;
    font-weight: 500;
    padding-right: 4px;
}
.Bv11UC {
    display: inline-block;
    position: relative;
}
._3TT44I .WT_FyS .XUp0WS ._3j4Zjq .fGhUR2 {
    color: #2874f0;
    font-weight: 500;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
._3TT44I .WT_FyS .XUp0WS ._3j4Zjq ._3HLfAg {
    margin-right: 10px;
}
._1AtVbE {
    display: block;
}
.col-12-12 {
    width: 100%;
}
._2WVRLm {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
}
.col, .row {
    width: 100%;
}
.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.col-12-12 {
    width: 100%;
}
.col {
    display: inline-block;
    vertical-align: top;
}
._2WVRLm ._1PQN-K {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._2WVRLm ._2taUHM {
    color: #878787;
    width: 110px;
    padding-right: 10px;
    font-weight: 500;
}
._2WVRLm ._24N3im {
    margin-left: 0;
}
._1LO0H9 {
    width: 234px;
}
._1tgazt ._16ocF5 {
    display: none!important;
}
._1tgazt .bTgKY7 {
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}._1tgazt ._2u50Np {
    position: relative;
    border-radius: 2px;
}
._1tgazt ._2u50Np .hivXmn {
    padding: 0 0 4px;
    border: none;
    border-bottom: 2px solid #2874f0;
    font-weight: 500;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
._1tgazt ._2u50Np .hivXmn ._1kbGNj {
    vertical-align: middle;
    margin-right: 6px;
    fill: #2874f0;
}
._1tgazt ._2u50Np .hivXmn ._6xm1dD {
    fill: #2874f0;
}._1tgazt ._2u50Np .hivXmn .N79-rD {
    display: inline-block;
    line-height: 25px;
}
._1tgazt ._2u50Np .hivXmn .N79-rD ._36yFo0 {
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    width: 144px;
    padding-left: 6px;
    vertical-align: middle;
}
._1tgazt ._16ocF5 {
    display: none!important;
}
._1tgazt ._2ggyDI {
    display: inline-block;
    width: 25px;
    vertical-align: middle;
}
._2YsvKq {
    position: relative;
    margin: 0 auto;
    width: 50px;
}
._2LJFE8 {
    -webkit-animation: _3jdd-j 2s linear infinite;
    animation: _3jdd-j 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
._2XJHnB {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: _2KWFa- 1.5s ease-in-out infinite;
    animation: _2KWFa- 1.5s ease-in-out infinite;
    stroke-linecap: round;
}
._1tgazt ._2u50Np .hivXmn ._2P_LDn {
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    color: #2874f0;
    margin-left: auto;
    position: relative;
}
._1tgazt ._2u50Np ._3yvRQZ {
    padding: 8px;
    font-size: 12px;
    z-index: inherit;
    display: inline-block;
}
._1tgazt ._16ocF5 {
    display: none!important;
}
._1mQK5h._3BB7xg {
    left: calc(100% + 16px);
}
._1mQK5h._1ipZRU, ._1mQK5h._3BB7xg {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
._2OTVHf._1Hhkx7 {
    box-shadow: 1px 0 2px 0 rgb(0 0 0 / 20%);
}
._1mQK5h {
    position: absolute;
    top: auto;
    left: auto;
    visibility: hidden;
    pointer-events: none;
}
._2OTVHf {
    position: absolute;
    padding: 8px;
    border: 1px solid #212121;
    border-radius: 2px;
    color: #fff;
    background: #212121;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    z-index: 5;
    max-width: 568px;
    min-width: 40px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: none;
    filter: none;
}
._1tgazt ._2u50Np .hivXmn ._3Hbb-8 {
    display: inline;
}
._1mQK5h ._3_ezix {
    white-space: nowrap;
}
._2OTVHf.z0fG_Y .FYrnUt {
    width: 16px;
    height: 100%;
    border: none;
    background: transparent;
    line-height: 1;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0 0 0 8px;
    text-align: center;
    box-shadow: none;
    color: #fff;
    vertical-align: text-top;
}
.fonts-loaded body, .fonts-loaded button, .fonts-loaded input, .fonts-loaded select, .fonts-loaded textarea {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
}
._2KpZ6l {
    display: inline-block;
    border-radius: 2px;
    color: #212121;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    background: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid #e0e0e0;
}

body, button, input, select, textarea {
    font-family: Arial,sans-serif;
    letter-spacing: -.2px;
}
._1SLzzw {
    margin: 8px 0 0 110px;
}
._1OUluu .eWlq4L {
    display: block;
}
._1OUluu .eWlq4L ._20XEBf:last-child {
    margin-bottom: 8px;
}
._1OUluu .eWlq4L ._20XEBf:first-child {
    margin-top: 4px;
}
._1OUluu .eWlq4L ._20XEBf {
    font-weight: 500;
}
._1OUluu .eWlq4L ._3XINqE {
    display: inline-block;
}
._2O5gut {
    font-weight: 500;
    color: #2874f0;
}
._2O5gut .YxlyDn {
    cursor: pointer;
}
._1OUluu .eWlq4L ._1rQTjC {
    color: #388e3c;
}
._1OUluu .eWlq4L ._2W3miC._2n0ivQ {
    color: #878787;
    text-decoration: line-through;
}
.Bv11UC {
    display: inline-block;
    position: relative;
}
.question {
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 20%);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;
}




